In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Project/data/국가데이터처_전국사업체조사_20231231.csv")
df.head()

,산업분류코드,행정구역,산업분류명,총사업체수,총종사자수,남자종사자수,여자종사자수,개인사업체수,개인종사자수,회사법인사업체수,...,대표자사업체수20_29세,대표자종사자수20세_29세,대표자사업체수30_39세,대표자종사자수30세_39세,대표자사업체수40_49세,대표자종사자수40세_49세,대표자사업체수50_59세,대표자종사자수50세_59세,대표자사업체수60세이상,대표자종사자수60세이상
0,0,전국,전체산업,6246489,25445897,14389133,11056764,4895583,8889801,968247,...,254711,458001,880742,2037832,1631203,5188344,1968989,10831659,1505508,6922009
1,0000000A,전국,"농업, 임업 및 어업(01~03)",12630,65192,47208,17984,0,0,7808,...,267,877,1187,4827,2697,12129,4516,26853,3960,20503
2,0000000A01,전국,농업,10256,47391,32794,14597,0,0,6181,...,209,618,949,3424,2168,8722,3681,20933,3246,13691
3,0000000A011,전국,작물 재배업,7092,24329,15074,9255,0,0,4435,...,157,454,640,2012,1530,5588,2440,9089,2323,7184
4,0000000A0111,전국,곡물 및 기타 식량작물 재배업,2466,6585,4525,2060,0,0,1292,...,50,114,227,532,495,1476,751,2168,941,2293

In [3]:
df_filtered = df[df["산업분류명"].str.contains("점술")]
df_filtered

,산업분류코드,행정구역,산업분류명,총사업체수,총종사자수,남자종사자수,여자종사자수,개인사업체수,개인종사자수,회사법인사업체수,...,대표자사업체수20_29세,대표자종사자수20세_29세,대표자사업체수30_39세,대표자종사자수30세_39세,대표자사업체수40_49세,대표자종사자수40세_49세,대표자사업체수50_59세,대표자종사자수50세_59세,대표자사업체수60세이상,대표자종사자수60세이상
1997,0000000S96992,전국,점술 및 유사 서비스업,9895,10512,3444,7068,9133,9628,37,...,237,252,697,737,1509,1602,2683,2838,4763,5077